@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Ubuntu:wght@400;500&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', 'Ubuntu', sans-serif;
    background-color: #e2e8f0;
}

.container {
    max-width: 40rem;
    width: 100%;
    height: auto;
    background-color: #15202b;
    color: white;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.container .nav {
    position: relative;
}

.container .nav #icon-1 {
    position: absolute;
    top: 23%;
    right: 3%;
    opacity: 0.5;
    font-size: 1.5rem;
}

.container .nav .profile-img {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 1rem;
    padding: 1rem;
}

.container .nav .profile-img img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.container .nav .profile-img .nav-title h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.container .nav .profile-img .nav-title i {
    padding-left: 0.5rem;
}

.container .nav .profile-img .nav-title span {
    font-size: 0.75rem;
    font-weight: 600;
    opacity: 0.7;
}

.container .main {
    margin: 0rem 1rem;
    padding: 0rem 1rem;
}

.container .main h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.container .main img {
    width: 35rem;
    height: 17rem;
    object-fit: cover;
    border-radius: 10px;
}

.container .main .date {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.5;
    border-bottom: 2px solid rgb(226, 232, 240, 50%);
    margin: 0.5rem 0rem;
    padding: 0.5rem 0rem;
}

.container .main .likes {
    border-bottom: 2px solid rgb(226, 232, 240, 25%);
    padding: 0.5rem 0rem;
    margin: 0.5rem 0rem;
}

.container .main .likes .num {
    font-size: 1rem;
    font-weight: bold;
    padding-right: 1rem;
    color: white;
}

.container .main .likes .m-desc {
    opacity: 0.5;
}

.container .footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    opacity: 0.5;
    margin: 1rem 1rem;
    padding: 0rem 1rem;
}