@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #DDDDDD;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.nav-item {
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.nav-item a {
    color: #10356d;
}

.nav-item a:hover {
    border-bottom: #679def 2px solid;
    opacity: .7;
    transition: all .5s ease;
}

.nav-item a:active {
    color: inherit;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search .input {
    height: 42px;
    width: 42px;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
    background-color: transparent;
    border: 1px solid #10356d;
    border-radius: 21px;
    transition: all .5s ease;
}

.search-btn {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #10356d;
    border-radius: 21px;
    cursor: pointer;
    color: #10356d;
}

.search-btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 325px;
    border-radius: 21px;
}

.navbar .auth {
    display: flex;
    align-items: center;
    gap: 13px;
}

.navbar .auth .btn {
    padding: 11px 13px;
    border: none;
    outline: none;
    text-transform: capitalize;
    background: #ffd43b;
    color: #10356d;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 10px;
}

.navbar .auth .btn:hover {
    background: #679def;
    color: #ffffff;
    cursor: pointer;
    transition: all .5s ease;
}

.hamburger {
    display: none;
}

.btn-hamburger {
    border: none;
    background: transparent;
    outline: none;
    font-size: 24px;
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width:992px) {
    .nav-item {
        font-size: 16px;
    }

    .search .input {
        height: 32px;
        width: 32px;
        border-radius: 16px;
    }

    .search-btn {
        height: 30px;
        width: 30px;
        border-radius: 16px;
    }

    .search.active .input {
        width: 175px;
        border-radius: 16px;
    }

    .navbar .auth .btn {
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        padding-right: 18px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 16px;
        position: absolute;
        top: 90px;
        left: -100%;
        height: auto;
        width: 100%;
        background: inherit;
        transition: ease-in-out .7s;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
    }

    .active {
        left: 0%;
    }

    .nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 13px;
    }

    .hamburger {
        display: block;
        z-index: 99;
    }

}