@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;

}

/* Navbar start */
header {
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #151515;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.nav-item {
    position: relative;
}

.nav-item::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: #ffb716;
    transition: transform .3s ease-in-out;
    transform: scaleX(0);
}

.nav-item:hover::before,
.nav-item:focus::before {
    transform: scaleX(1);
}

.nav-item a {
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.nav-item a:active {
    color: inherit;
}

.nav-item a.active {
    color: #ffb716;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search .input {
    height: 42px;
    width: 42px;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
    background: #ffffff;
    border: 1px solid #ffb716;
    border-radius: 21px;
    transition: all .5s ease;
}

.search-btn {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    border-radius: 21px;
    cursor: pointer;
}

.search-btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 325px;
    border-radius: 21px;
}

.navbar .auth {
    display: flex;
    align-items: center;
    gap: 13px;
}

.navbar .auth .btn {
    padding: 11px 13px;
    border: none;
    outline: none;
    text-transform: capitalize;
    background: #ffb716;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 9;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

.navbar .auth .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #10356d;
    z-index: -9;
    transition: transform .3s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.navbar .auth .btn:hover,
.navbar .auth .btn:focus {
    color: #ffffff;
}

.navbar .auth .btn:hover::before,
.navbar .auth .btn:focus::before {
    transform: scaleX(1);
}

.hamburger {
    display: none;
}

.btn-hamburger {
    border: none;
    background: transparent;
    outline: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
}

/* Navbar end */

/* Main 1 start */
#main {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-image: url("./img/pexels-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    position: relative;
}

#main::before {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(128, 128, 128, 0.5);
}

.m-container {
    width: 475px;
    height: 325px;
    margin: auto;
    overflow: hidden;
    border: 4px solid #ffb716;
    border-bottom-left-radius: 52px;
    border-top-right-radius: 52px;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    animation: mainContainerAnimation 1s alternate infinite;
}

@keyframes mainContainerAnimation {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(25px);
    }
}

.m-container-front {
    padding: 13px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    gap: 21px;
    align-items: center;
}

.m-container-front h1 {
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: normal;
    color: #10356d;
}

.m-container-body h2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    color: #151515;
    padding-bottom: 7px;
}

.m-container-body h2 span {
    color: #10356d;
}

.m-container-body p {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    color: #10356d;
}

.m-container-front button {
    margin-top: 52px;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    text-transform: capitalize;
    color: #10356d;
    border-radius: 4px;
}

.m-container-front button:hover {
    background: #10356d;
    color: #ffb716;
    transition: all .3s ease-in;
    border: #ffb716 1px solid;
    cursor: pointer;
}

/* Main 1 end */

/* Main 2 start */
main {
    width: 100%;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main #h1 {
    font-size: 42px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: capitalize;
}

main .container {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-left {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-left .main-left-img {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.main-left .main-left-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
    transition: all .5s;
}

.main-left .main-left-img img:hover {
    transform: scale(1.25);
}

.main-left-comment {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.main-left-comment h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
}

.main-left-comment p {
    width: 60%;
    height: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #808080;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author img,
.main-right-comment .author img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}

.author span {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #808080;
}

.main-right {
    width: 40%;
    height: auto;
    padding: 0px 16px;
}

.main-right h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    padding-bottom: 8px;
}

.main-right-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.main-right-card {
    width: 375px;
    height: 225px;
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.main-right-card .main-right-card-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.main-right-card .main-right-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
    transition: all .5s;
}

.main-right-card .main-right-card-img img:hover {
    transform: scale(1.25);
}

.main-right-comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-right-comment h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
}

.main-right-comment p {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #808080;
    padding-bottom: 32px;
}

/* Main 2 end */

/* Card start */
section {
    width: 100%;
    height: 500px;
    background: #DDDDDD;
}

section .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0 28px;
}

.card {
    width: 375px;
    height: 375px;
    background: #ffffff;
    padding: 16px;
    margin: 0px 14px;
    overflow: hidden;
    border-radius: 10px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all .5s ease;
}

.card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}

.card-front img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}

.card-front .card-comment {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.card-front .card-comment h3 {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.card-front .card-comment span,
.card-front .card-comment p {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #808080;
}

.card-front .card-comment button {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.1em;
    background: #ffb716;
    padding: 10px 14px;
    color: #ffffff;
    border-radius: 7px;
    text-transform: capitalize;
    overflow: hidden;
    position: relative;
    z-index: 9;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

.card-front .card-comment button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #10356d;
    z-index: -9;
    transition: transform .3s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.card-front .card-comment button:hover,
.card-front .card-comment button:focus {
    color: #ffffff;
}

.card-front .card-comment button:hover::before,
.card-front .card-comment button:focus::before {
    transform: scaleX(1);
}

/* Card end */

/* section start */
.sign-up {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 400px;
    background-image: url("./img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up .container {
    max-width: 750px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.sign-up .container h2 {
    width: 100%;
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

.sign-up .container span {
    color: #10356d;
}

.sign-up .container form {
    width: 100%;
    height: auto;
    text-align: center;
}

.sign-up .container form input {
    width: 50%;
    padding: 14px 28px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.sign-up .container form button {
    width: 20%;
    padding: 14px 28px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background: #10356d;
    color: #ffffff;
    text-transform: capitalize;
    opacity: .7;
}

.sign-up .container form button:hover {
    opacity: 1;
    cursor: pointer;
    transition: all .5s ease;
    color: #ffb716;
}

/* section end */

/* Footer start */
footer {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 385px;
    position: relative;
    background: #151515;
}

.container-footer {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.container-footer .container {
    width: 80%;
    height: auto;
    margin: 24px;
    padding: 24px;
    display: flex;
    gap: 16px;
}

.container-footer .container .about {
    width: 30%;
    height: auto;
}

.container-footer .container .about h2,
.container-footer .container .newsletter h2,
.container-footer .container .social h2 {
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
    font-style: normal;
}

.container-footer .container .about p,
.container-footer .container .newsletter .news-body p,
.container-footer .container .social p {
    color: #808080;
    text-transform: lowercase;
    padding-bottom: 14px;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
    font-style: normal;
}

.container-footer .container .newsletter {
    width: 40%;
    height: auto;
}

.container-footer .container .newsletter .news-body form {
    padding-top: 10px;
}

.container-footer .container .newsletter .news-body form input {
    padding: 8px 16px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
}

.container-footer .container .newsletter .news-body form button {
    padding: 8px 16px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    background: #10356d;
    color: #ffb716;
}

.container-footer .container .newsletter .news-body form button:hover {
    background: #ffb716;
    color: #10356d;
    cursor: pointer;
    transition: all .5s ease;
}

.container-footer .container .social {
    width: 20%;
    height: auto;
}

.container-footer .container .social .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container-footer .container .social .social-icons a i {
    border-radius: 50%;
    border: #ffb716 1px solid;
    padding: 9px;
    margin: 5px;
    font-size: 18px;
    color: #ffb716;
    background: #10356d;
}

.container-footer .container .social .social-icons a i:hover {
    color: #10356d;
    background: #ffb716;
    transition: all .5s ease;
}

.container-footer .copyright h3 {
    color: #808080;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
}

/* Footer end */

/* Responsive */
@media screen and (max-width:992px) {
    .nav-item a {
        font-size: 16px;
    }

    .search .input {
        height: 32px;
        width: 32px;
        border-radius: 16px;
    }

    .search-btn {
        height: 30px;
        width: 30px;
        border-radius: 16px;
    }

    .search.active .input {
        width: 200px;
        border-radius: 16px;
    }

    .navbar .auth .btn {
        padding: 9px 11px;
        font-size: 16px;
    }

    .m-container {
        width: 400px;
        height: 275px;
    }

    .m-container-front h1 {
        font-size: 16px;
    }

    .m-container-body h2 {
        font-size: 13px;
    }

    .m-container-body p {
        font-size: 13px;
    }

    .m-container-front button {
        margin-top: 24px;
        padding: 8px 16px;
        font-size: 16px;
    }

    main #h1 {
        font-size: 32px;
    }

    main .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main-left {
        width: 100%;
        height: auto;
    }

    .main-left .main-left-img {
        width: 100%;
        height: 400px;
    }

    .main-left-comment h1 {
        font-size: 18px;
    }

    .main-left-comment p {
        width: 100%;
        height: auto;
        font-size: 13px;
    }

    .author img,
    .main-right-comment .author img {
        width: 40px;
        height: 40px;
    }

    .author span {
        font-size: 13px;
    }

    .main-right {
        width: 100%;
        height: auto;
        padding: 16px 0px 0px 0px;
    }

    .main-right-card {
        width: 100%;
    }

    .main-right h2 {
        font-size: 21px;
    }

    .main-right-comment {
        width: 100%;
    }

    .main-right-comment h1 {
        font-size: 16px;
        width: 100%;
    }

    .main-right-comment p {
        font-size: 13px;
    }

    section {
        width: 100%;
        height: auto;
        padding: 14px 0px;
    }

    section .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 14px;
    }

    .card {
        width: 100%;
        height: 325px;
        padding: 10px;
        margin: 0px 7px;
    }

    .sign-up .container h2 {
        width: 100%;
        font-size: 28px;
    }

    .sign-up .container form input {
        width: 50%;
        padding: 12px 24px;
        font-size: 16px;
    }

    .sign-up .container form button {
        width: 20%;
        padding: 12px 24px;
        font-size: 16px;
    }

    footer {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
    }

    .container-footer .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .container-footer .container .about {
        width: 100%;
        height: auto;
    }


    .container-footer .container .newsletter {
        width: 100%;
        height: auto;
    }


    .container-footer .container .social {
        width: 100%;
        height: auto;
    }

    .container-footer .container .social .social-icons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

}

@media screen and (max-width:768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: fixed;
        padding-right: 18px;
    }

    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 16px;
        position: absolute;
        top: 90px;
        left: -100%;
        background: inherit;
        transition: ease-in-out .7s;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
    }

    .active {
        left: 0%;
    }

    .nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 13px;
    }

    .hamburger {
        display: block;
        z-index: 99;
    }

    .main-left .main-left-img {
        width: 100%;
        height: 250px;
    }

    .sign-up .container h2 {
        width: 80%;
        font-size: 24px;
        text-align: center;
    }

    .sign-up .container form input {
        width: 50%;
        padding: 10px 20px;
        font-size: 14px;
    }

    .sign-up .container form button {
        width: 25%;
        padding: 10px 20px;
        font-size: 14px;
    }

}