*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Credit Card';
    src: url('./font/CreditCard.eot');
    src: local('./font/Credit Card'), local('./font/CreditCard'),
        url('./font/CreditCard.eot?#iefix') format('embedded-opentype'),
        url('./font/CreditCard.woff2') format('woff2'),
        url('./font/CreditCard.woff') format('woff'),
        url('./font/CreditCard.ttf') format('truetype'),
        url('./font/CreditCard.svg#CreditCard') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.credit-card {
    max-width: 600px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #d8186f, #951297);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    border-radius: 13px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    cursor: pointer;
    animation: creditCardAnimation 1s alternate infinite;
}

@keyframes creditCardAnimation {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(25px);
    }
}

.credit-card-frontend {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
}

.credit-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.credit-card-title span {
    font-size: 32px;
    font-family: initial;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-weight: 500;
    color: #ffffff;
}

.credit-card-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0;
}

.credit-card-main-images {
    display: flex;
    align-items: center;
}

.credit-card-main-images img {
    max-width: 95px;
    max-height: 95px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.credit-card-main-images svg {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    color: #ffffff;
    transform: rotate(90deg);
}

.credit-card-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.credit-card-number span {
    font-size: 24px;
    font-family: 'Credit Card';
    line-height: normal;
    letter-spacing: normal;
    font-style: normal;
    color: #ffffff;
}

.credit-card-valid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.credit-card-valid-from p,
.credit-card-valid-end p {
    font-family: initial;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    font-style: normal;
    font-weight: 500;
    color: #808080;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.credit-card-valid-from span,
.credit-card-valid-end span {
    font-family: 'Credit Card';
    font-size: 11px;
    line-height: normal;
    letter-spacing: 0.25em;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
}

.credit-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.credit-card-footer p {
    font-size: 21px;
    line-height: normal;
    letter-spacing: 0.1em;
    font-style: normal;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Credit Card';
    font-weight: 500;
}

.credit-card-footer img {
    max-width: 110px;
    max-height: 110px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}